<form method="POST" action="/orgs">
    <fieldset>
        <legend>New Organization</legend>
        <!-- TITLE -->
        <p>
            <label for="review-title">Name of the Charity Organization</label><br>
            <input id="review-title" type="text" name="title" />
        </p>


        <!-- DESCRIPTION -->
        <p>
            <label for="description-text">Description</label><br>
            <textarea id="description-text" name="description" rows="10" /></textarea>
        </p>

        <!-- DONATION -->
        <p>
            <label for="donation-need">Funding Amount Needed</label><br>
            <input id="donation-need" type="text" name="donationNeeded" />
        </p>
    </fieldset>

       

    <!-- BUTTON -->
    <p>
        <button type="submit">Save Organization</button>
    </p>

</form>