
<h1>Organizations</h1>

<a href="/orgs/new">New Organization</a>


<div class="row">
    {{#each charity}}
    <div class="col-sm-3">
        <h2><a href="/orgs/{{this._id}}">{{this.organizationName}}</a></h2>
        <small>Description: {{this.description}}</small> <br>
        <small>Funding Amount Needed: {{this.donationNeeded}}</small>
    </div>
    {{/each}}
</div>



